#footerdown{
    /* width: 100%; */
    display: flex;
    flex-grow: 1;
    background: #1D1D1E;
    justify-content: space-between;
    padding: 5% 5% 3% 5%;
    color: #fff;
    flex-wrap: wrap;
}

#metabnb__down{ 
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#community{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#places{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#aboutus{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#socials{
    left: 7.85%;
    right: 90.9%;
    top: 60.25%;
    bottom: 34.16%;
    display: flex;
    gap:27px;

}

#copyright__down{

    color: #fff;
    font-size: 16px;
    font-weight: 400;

}

#information__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 217px;
    width: 698px;
    height: 169px;
    left: 533px;
    top: 63px;
}

#community__footer{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Red Rose';
}


#places__styling{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Red Rose';
}

#about__us{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

