.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    padding: 2% 6.5%;
    gap: 48px;
    left: 31.94%;
    right: 17.58%;
    top: 31.25%;
    bottom: 20.83%;
  }
  
  .nav_menu {
    display: flex;
    justify-content: center;
    gap: 9.5%;
    width: 100%;
    font-family: 'Red Rose';
    font-style:normal;
    font-weight:400;
    font-size:20px;

  }

  .nav_menu :hover{
    color: #a02279;
    cursor: pointer;
  }
  
  #connect {
    color: #ffffff;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    padding: 16px 5px;
    border-style: none;
    width:280px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

  }
  