
#inspireWrapper{
    min-height: 100vh;
    padding: 5%;
}
#inspire{
    /* position: relative; */
width: 100%;
text-align: center;

height: 60px;
/* left: 313px; */
/* top: 39px; */

/* font-family: 'Red Rose'; */
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
/* identical to box height */


color: #000000;

}

