#down__imh {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8%;
  min-height: 774px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border: 1px solid #000000;
}
#down_info{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#nft__image img{
  width: 100%;
}

#words__nft {
  top: 36.3%;
  bottom: 46.12%;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom:20px;
}

#down__note {
  width: 346px;
  height: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

#learn__nft { 
  border: none;
  height: 48px;
  width: 9.5rem;
  font-size: 16px;
  color:#a02279;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 8px;
}

#learn__nft {
  bottom: 32.49%;
  font-weight: 400;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 8px;
}
